            <div class='row trunk-section'>
                <div class='col-lg-12 text-center' id='wr_off'></div>
                <div class='col-lg-12 text-center' id='wr_on'></div>

</div>
<script>

MG._hooks = {};
d3.json('data/wrbench.json', function(data) {
    MG.data_graphic({
        title: "Webrender Off",
        chart_type: "bar",
        description: "",
        data: data["wr_off"]["firstNonBlank"],
        width: 1200,
        height: 600,
        target: document.getElementById('wr_off'),
        x_accessor: 'label',
        y_accessor: 'value',
        x_axis_type: 'categorical',
        xgroup_accessor: 'build'
    });
    MG.data_graphic({
        title: "Webrender On",
        chart_type: "bar",
        description: "",
        data: data["wr_on"]["firstNonBlank"],
        width: 1200,
        height: 600,
        target: document.getElementById('wr_on'),
        x_accessor: 'label',
        y_accessor: 'value',
        x_axis_type: 'categorical',
        xgroup_accessor: 'build'
    });
    
    
});

</script>
