            <div class='row trunk-section' id='charts'>
                
            </div>
<script>

y_accessors = {
    "youtube":["youtube_home_firstNonBlank","youtube_search_firstNonBlank","youtube_trending_firstNonBlank","baseline"],
    "amazon":["amazon_back_firstNonBlank","amazon_book_firstNonBlank","amazon_home_firstNonBlank","amazon_search_firstNonBlank","amazon_video_firstNonBlank","baseline"],
    "facebook":["facebook_group_firstNonBlank","facebook_home_firstNonBlank","facebook_home_repeat_firstNonBlank","facebook_profile_firstNonBlank","baseline"],
    "google":["google_home_firstNonBlank","google_image_search_firstNonBlank","baseline"],
    "gmail":["gmail_inbox_firstNonBlank","gmail_youtube_link_firstNonBlank","baseline"]
};
legends = {
    "youtube":["HOME","SEARCH","TRENDING","TARGET"],
    "amazon":["BACK","BOOK","HOME","SEARCH","VIDEO","TARGET"],
    "facebook":["GROUP","HOME","REPEAT","PROFILE","TARGET"],
    "google":["HOME","IMAGE SEARCH","TARGET"],
    "gmail":["INBOX","YOUTUBE LINK","TARGET"]
};
colors = {
    "youtube":["green","orange","red","black"],
    "amazon":["green","orange","red","purple","grey","black"],
    "facebook":["green","orange","red","purple","black"],
    "google":["green","orange","black"],
    "gmail":["green","orange","black"]
};


MG._hooks = {};
d3.json('data/wrbench.json', function(data) {    
    var chart_data = [];

    for (var i=0; i<data.wr_on.firstNonBlank.length; i++) {
        // If we already have at least one entry in chart_data
        if (chart_data.length > 0) {
            var date_found = 0;
            for (var j=0; j<chart_data.length; j++) {
                // If the date exists in chart_data
                if (chart_data[j].date == data.wr_on.firstNonBlank[i].date) {
                    date_found = 1;
                    // If the data for the label does not exist yet
                    if (!(data.wr_on.firstNonBlank[i].label in chart_data[j]))
                        chart_data[j][data.wr_on.firstNonBlank[i].label] = data.wr_on.firstNonBlank[i].diff;
                }
            }
            
            // If the date doesn't exist yet
            if (date_found == 0) {
                var d = {};
                d.date = data.wr_on.firstNonBlank[i].date;
                d[data.wr_on.firstNonBlank[i].label] = data.wr_on.firstNonBlank[i].diff;
                d.baseline = -5;
                chart_data.push(d);
            }
            
        // If no item exists in chart_data yet initialize it with the first date and test value
        } else {
            var d = {};
            d.date = data.wr_on.firstNonBlank[i].date;
            d[data.wr_on.firstNonBlank[i].label] = data.wr_on.firstNonBlank[i].diff;
            d.baseline = -5;
            chart_data.push(d);
        }
    }
    
    chart_data = MG.convert.date(chart_data, 'date');
    
    console.log(chart_data);
    var div = document.getElementById('charts');
    div.innerHTML += "<h4 style='text-align:center'>Percent Improvement with Webrender Enabled (TARGET: >= -5%)</h4>";
    
    for (var k in y_accessors) {
        if (y_accessors.hasOwnProperty(k)) {
            div.innerHTML += '<div class="col-lg-12" id="chart_' + k + '"></div>';
            MG.data_graphic({
                 title: k,
                 chart_type: "line",
                 description: "",
                 data: chart_data,
                 width: 1200,
                 height: 400,
                 right: 70,
                 target: document.getElementById('chart_'+k),
                 x_accessor: 'date',
                 y_accessor: y_accessors[k],
                 colors: colors[k],
                 legend: legends[k],
                 min_y:-100,
                 max_y:100
            });
        }
    }
});



</script>
