            <div class='row trunk-section'>
                <div class='col-lg-12 text-center' id='wr_on'></div>
                <div class='col-lg-12 text-center' id='wr_off'></div>

<script>





MG._hooks = {};
d3.json('data/wrbench.json', function(data) {
    MG.data_graphic({
        title: "Webrender Off",
        chart_type: "bar",
        description: "",
        data: data["wr_off"]["firstNonBlank"],
        width: 1200,
        height: 600,
        left:240,
        target: document.getElementById('wr_off'),
        y_accessor: 'build',
        x_accessor: 'value',
        y_axis_type: 'categorical',
        ygroup_accessor: 'label'
    });
    MG.data_graphic({
        title: "Webrender On",
        chart_type: "bar",
        description: "",
        data: data["wr_on"]["firstNonBlank"],
        width: 1200,
        height: 600,
        left:240,
        target: document.getElementById('wr_on'),
        y_accessor: 'build',
        x_accessor: 'value',
        y_axis_type: 'categorical',
        ygroup_accessor: 'label'
    });
});
</script>
